body{
  background-color: #7a5fff;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.chartjs-render-monitor{
  background-color: white
}

.input{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 2px;
  border-color: orange;
  border-radius: 5px;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

input{
  margin-left: 10px;
}


.button{
  display: flex;
  justify-content: center;
  margin: 20px;

}
.submit{
  background-color: white;
  border: none;
  color: #7a5fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  width: auto;
}

.submit:hover{
  background-color: orange;
  color: white;
  cursor: pointer;
}